  <div id="modal-contact" class="modal" style="" > <!-- MODAL STRUCTURE HAS TO BE OUT OF THE BODY TAGS! -->
    <div class="modal-content">
        <h1 style="text-align: center; font-weight: 100;">דברו איתנו</h1>
        <%= render 'form' %>
    </div>
  </div> <!-- MODAL STRUCTURE HAS TO BE OUT OF THE BODY TAGS! -->



<body>
    <div id="first-div" class="">
<!--         <img style="width:200%;" src="http://previews.123rf.com/images/_fla/_fla1301/_fla130100155/17590380-Cartoon-hand-drawing-houses-Stock-Vector-house-town-city.jpg"> -->
      <div style="float: right; margin-top: 3em;" dir="rtl">
      <h1 class="animated fadeInDown first-mrkt-s-m" style="color: #fff;font-size: 60px;font-weight: 100;margin-right: 1em; font-weight: 100;">נהל את הפנסיה שלך, פרוש עשיר יותר.</h1>
      <ul class="first-mrkt-ul" style="text-align: right; margin-right: 10%; margin-top: 5em;">
      <li id="welcome-list-h1">
        <span class="animated fadeInDown first-div-bullet" style="font-size: 25px;font-weight: 200;"><%= t('.ttl_marketingp', locale: :he) %><span>
      </li>
      <li id="welcome-list-h1">
        <span class="animated fadeInDown first-div-bullet" style=" font-size: 25px;font-weight: 200;">רוב החוסכים שוכחים לבדוק איזו תשואה השיגה עבורם קרן הפנסיה<span>
      </li>
      <li id="welcome-list-h1">
        <span class="first-div-bullet" style="font-size: 25px;font-weight: 200;"><%= t('.ttl_marketingp2', locale: :he) %><span>
      </li>
        <a class="button buttonc join-btn" style="margin-top: 2em;" href="#modal-contact"><%= t('.btn_start', locale: :he)%></a>
     </ul>
    </div>
</div>

  <div id="second-div" class="row" style="height: 45em;">
  <div class="col s6 section scrollspy" id="chart1div" style="margin-top: 5em;">
  <div id="chart1" style="margin-top: 10em;">
    <script type="text/javascript">
      var chart = c3.generate({
        bindto: "#chart1",
        data: {
            columns: [
                ['דמי ניהול מופחתים', 888000],
                ['דמי ניהול מקסימליים', 734000]
            ],
            type: 'bar'
        },
        bar: {
            width: {
                ratio: 0.6 // this makes bar width 50% of length between ticks
            }
            // or
            //width: 100 // this makes bar width 100px
        }
    });
    </script>
    </div>
  </div>
    <div class="col s6" style="border-left: 1px solid #eeeeee;margin-top: 5em;">
     <div>
        <h1 class="first-mrkt-s-div2" style="margin-right:5%; text-align: right; font-weight: 100;">הזן את נתוניך</h1>
        <h1 class="second-mrkt-s-div2" style="margin-right:5%; text-align: right; font-size: 30px; letter-spacing: 1px; color: #888888; margin-top: -15px; font-weight: 100;">וגלה כמה דמי ניהול אתה משלם</h1>
        <br><br>
        <input id="salary_param" class="cal-inputs" name="salary_param" data-salary type="text" placeholder="?מהי המשכורת שלך" style="width: 25%; float: right; text-align: right;margin-right: 5%;"/>
        <input id="age_param" class="cal-inputs" name="age_param" data-age type="text" placeholder="גיל כניסה לקרן" style="width: 25%; float: right; text-align: right;margin-right: 5%;"/>
        <div style="width: 25%; margin-left: 10%" class="cal-inputs">
          <select data-sex>
            <option value="" disabled selected class="right-align">מין</option>
            <option value=67>גבר</option>
            <option value=64>אישה</option>
          </select>
        </div>
        <br/>
        <br/>
        <h1 class="third-mrkt-s-div2" style="margin-right:5%;float:right; font-weight: 100;">דמי ניהול: &#8362;<span id="fees-result">0</span></h1>
        <!-- <h1 style="margin-right:5%;float:right;">סך הפנסיה: &#8362;<span id="pension-result">0</span></h1> -->
        <!-- 
        <h1 style="margin-right:5%;float:right">משכורת: &#8362;<span id="fees-result-salary">0</span></h1> -->
        <!-- <input id="name" name="name" type="text" /> -->
        <br>
    </div>
  </div>
    </div>
      </div>

  <div class="row">
    <div id="third-div" class="col s12">
<!--         <img style="z-index: -1;width:100%;" src="https://wallpaperscraft.com/image/scooter_moped_vespa_retro_mint_102397_3840x2160.jpg"> -->
          <div>
          <h1 class="first-mrkt-s-div3" style="text-align: center;font-size: 60px;color: #fff;font-weight: 100; margin-top: 1em;">להיות במסלול המנצח תמיד</h1>
          <h1 class="third-mrkt-s-div3" style="text-align: center;font-size: 35px;color: #fff;letter-spacing: 0px;font-weight: 100;"><%= t('.ttl_marketing3', locale: :he) %></h1>
      </div>
</div>
      <div style="margin-left: 10%; margin-right: 10%;">
      </div>
    </div>
  </div>

  <div id="fourth-div" class="section scrollspy">
    <div style="margin-left: 10%; margin-right: 10%;">
    <h1 style="text-align: center; font-weight: 100;font-size: 40px;">תשואת המסלולים בשנה האחרונה</h1>
      <div id="chart2">
        <script type="text/javascript">

          var migdal = "מגדל מקפת";
          var helman = "הלמן אלדובי";
          var altshuler = "אלטשולר שחם";
          var psagot = "פסגות";
          var menora = "מנורה מבטחים";
          var ayalon = "איילון";
          var harel = "הראל";
          var klal = "כלל עתודות";
          var phoenix = "הפניקס";

          var chart2 = c3.generate({
            bindto: "#chart2",
            data: {
                x: "x",
                columns: [
                    ['x', 'מסלול תלוי גיל', 'מסלול מניות', 'מסלול אג״ח', 'מסלול הלכה', 'מסלול כללי'],
                    [migdal, 20, 200, 100, 400, 150],
                    [helman, 130, 100, 140, 200, 150],
                    [altshuler, 130, 100, 140, 200, 150],
                    [psagot, 130, 100, 140, 200, 150],
                    [menora, 130, 100, 140, 200, 150],
                    [ayalon, 130, 100, 140, 200, 150],
                    [harel, 130, 160, 140, 200, 150],
                    [klal, 130, 190, 140, 200, 150],
                    [phoenix, 130, 100, 140, 200, 150],

                ],
                type: 'bar'
            },
                axis: {
                  x: {
                      type: 'category',
                      tick: {
                          rotate: 0,
                          multiline: false,
                          size: 10
                      },
                      height: 130
                  }
              },
            bar: {
                width: {
                    ratio: 0.5 // this makes bar width 50% of length between ticks
                }
                // or
                //width: 100 // this makes bar width 100px
            }
        });
        </script>
      </div>
    <div style="margin-top: 6em; "></div> <!-- SPACE -->
    <ul style="border-top: 1px solid #eeeeee; border-bottom: 1px solid #eeeeee" class="center-align">
    <div style="">
      <li style="display:inline-block;" class="firm-icon">
        <%= image_tag("https://upload.wikimedia.org/wikipedia/he/thumb/e/ea/Clal_Bituach_logo.svg/1280px-Clal_Bituach_logo.svg.png", :style => "width:100px;", :class => "firm-icon-width")%>
      </li>
      <li style="display:inline-block;" class="firm-icon">
        <%= image_tag("https://upload.wikimedia.org/wikipedia/he/thumb/0/0a/Harel_Group_Logo.svg/200px-Harel_Group_Logo.svg.png", :style => "width:100px;", :class => "firm-icon-width")%>
      </li>
      <li style="display:inline-block;" class="firm-icon">
        <%= image_tag("http://sosa.co/wp-content/uploads/2016/09/Sosa-AH.png", :style => "width:100px;", :class => "firm-icon-width")%>
      </li>
      <li style="display:inline-block;" class="firm-icon">
        <%= image_tag("https://upload.wikimedia.org/wikipedia/he/thumb/1/18/The_Phoenix_Holdings_Logo.svg/1280px-The_Phoenix_Holdings_Logo.svg.png", :style => "width:100px;", :class => "firm-icon-width")%>
      </li>
      <li style="display:inline-block;" class="firm-icon">
        <%= image_tag("http://www.alonins.co.il/shared/logos/comp/ayalon.png", :style => "width:100px;", :class => "firm-icon-width")%>
      </li>
      <li style="display:inline-block;" class="firm-icon">
        <%= image_tag("http://customerservice-il.com/wp-content/uploads/2013/12/menora.png", :style => "width:100px;", :class => "firm-icon-width")%>
      </li>
      <li style="display:inline-block;" class="firm-icon">
        <%= image_tag("https://gemelonline.psagot.co.il/Images/ErrorLogo.png", :style => "width:100px;", :class => "firm-icon-width")%>
      </li>
      <li style="display:inline-block;" class="firm-icon">
        <%= image_tag("http://media.hag.co.il/rio2016/res/images/halman-aldubi-logo.png", :style => "width:100px;", :class => "firm-icon-width")%>
      </li>
      <li style="display:inline-block;" class="firm-icon">
        <%= image_tag("http://b-o.co.il/wp-content/uploads/2009/01/Tmigdal.png", :style => "width:50px;", :class => "migdal-icon-width")%>
      </li>
      </div>
    </ul>
    </div>
  </div>

    <div id="fifth-div" class="section scrollspy" style="height: 34em;">
      <div style="padding-top: 0em;">
          <p class="howboostworkstext" style="text-align: center;font-size: 60px;color: #757575;font-weight: 900;font-family: 'Assistant', serif;">?עובד <span class="howboostworkstext" style="color:#E91E63; font-size: 60px;font-weight: 100;font-family: 'Assistant', serif;">Boost</span> איך</p>
      </div>
      <div style="display:block; padding-top: 2em; padding-bottom: 10em;" class="center-align"><%= image_tag("howboostworks2.png", :size => "", :class => "undraggableimg howboostworks")%>
      </div>
    </div>

          <footer class="page-footer" style="background-color: #eeeeee; border-top: 1px solid #fff;">
          <div class="container">
            <div class="row">
              <div class="col l6 s12">
                <h5 class="grey-text">Boost inc.</h5>
                <p class="grey-text">Some more information about us.</p>
              </div>
              <div class="col l4 offset-l2 s12">
                <h5 class="grey-text" style="text-align: right">עזרה</h5>
                <ul>
                  <li><a class="grey-text" href="#!" style="float: right">שאלות נפוצות</a></li><br>
                  <li><a class="grey-text" href="#!" style="float: right">צור קשר</a></li><br>
                  <li><a class="grey-text" href="#!" style="float: right">תנאי שימוש</a></li><br>
                  <li><a class="grey-text" href="#!" style="float: right">אודותינו</a></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="footer-copyright" style="background-color: #E91E63">
            <div class="container">
            © 2017 Copyright D.B.I.
            <a class="grey-text text-lighten-4 right" href="#!">More Links</a>
            </div>
          </div>
        </footer>
</body>
