<% @contact = Contact.new  %>
<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Boost Your Pension</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= favicon_link_tag 'http://i.imgur.com/sY0WhBP.png' %>

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.0/css/materialize.min.css">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Suez+One" rel='stylesheet' type='text/css'>
  <link href="https://fonts.googleapis.com/css?family=Assistant:200,400&amp;subset=hebrew" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css">
  <link rel="stylesheet" href="animate.min.css">

  <script src="https://use.fontawesome.com/0b30d56919.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.0/js/materialize.min.js"></script>


  <%= csrf_meta_tags %>
</head>
<body>
  <!-- SIDENAVBAR -->
    <ul id="slide-out" class="side-nav" style="background-color: #fff;font-family: 'Assistant', serif;">
    <div style="margin-top: 5em;text-align: right" >
      <li><a href="/" style="font-size: 18px">דף הבית</a></li>
      <li><a href="/faq" style="font-size: 18px">שאלות נפוצות</a></li>
      <li><div class="divider" style="font-size: 18px"></div></li>
    </div>
  </ul>
  <!-- SIDENAVBAR / -->

  <!-- NAVBAR -->
  <div class="navbar-fixed section scrollspy" id="navbar-scroll" style="margin-top: -15px;">
    <nav id="navbar" style="box-shadow: 1px 1px 0px 1px #eeeeee;">
      <div class="nav-wrapper" style="margin-left: 5%; margin-right: 5%;">
        <a class="buttonsml buttonc navbtnstrt valign-wrapper" style="float: right;" href="#animatedModal" id="demo01"><span class="valign center-align" style="margin-left: -0.3em;">הצטרף</span></a>
        <a class="buttonsml buttonc navbtnstrtfaq valign-wrapper" style="float: right;" href="#animatedModal" id="demo03"><span class="valign center-align" style="margin-left: -0.3em;">הצטרף</span></a>
        <%= link_to 'שאלות נפוצות', faq_path, :style => "color:#000;", :class => "faq-btn buttonsml buttonmodal"%>
        <a class="side-nav-btn" style="color: #000; float: left;" href="#" data-activates="slide-out" id="button-collapse"><i class="material-icons">menu</i></a>
          <h1 class="logo brand-logo center" id="title"><%=link_to image_tag("http://i.imgur.com/qv44PsE.png", :class => "logo undraggableimg", :style => "width: 90px;"), root_path%><span style="font-size: 12px; margin-top: -20px;display: block;color: #000; letter-spacing: 2px;margin-left: 4px;">YOUR PENSION</span></h1>
        <ul id="" class="left hide-on-med-and-down" style="font-family: 'Assistant', serif; font-weight: 100;">
        </ul>
      </div>
    </nav>
  </div>
  <!-- NAVBAR/ -->






<script type="text/javascript">

  $('.navbtnstrt').hide();
  $(window).scroll(function() {
    if ($(window).scrollTop() > 470) {
        $('.navbtnstrt').removeClass("animated fadeOutUpBig");
        $('.navbtnstrt').show();
        $('.navbtnstrt').addClass("animated fadeInDownBig");
      }
     else
     {
      $('.navbtnstrt').removeClass("animated fadeInDownBig");
      $('.navbtnstrt').addClass("animated fadeOutUpBig");
    }
});

if (window.location.pathname == "/") {
  $(".navbtnstrtfaq").addClass("hide");
};

        // Initialize collapse button
  $("#button-collapse").sideNav({
      menuWidth: 160, // Default is 300
      edge: 'left', // Choose the horizontal origin
      closeOnClick: true, // Closes side-nav on <a> clicks, useful for Angular/Meteor
      draggable: true // Choose whether you can drag to open on touch screens
  });
  // Initialize collapsible (uncomment the line below if you use the dropdown variation)
  //$('.collapsible').collapsible();

</script>
<%= yield %>

</body>
<script>


// CONTACT MODAL
$(document).ready(function() {
    $("#demo01").animatedModal({
        animatedIn:'fadeInDown',
        animatedOut:'fadeOutUp',
        color: "#10B5B5",
    });
    $("#demo02").animatedModal({
        animatedIn:'fadeInDown',
        animatedOut:'fadeOutUp',
        color: "#10B5B5",
    });
    $("#demo03").animatedModal({
        animatedIn:'fadeInDown',
        animatedOut:'fadeOutUp',
        color: "#10B5B5",
    });
}); // MODAL /

</script>
<div id="animatedModal">
   <!--THIS IS IMPORTANT! to close the modal, the class name has to match the name given on the ID  class="close-animatedModal" -->
   <div class="modal-contact" id="modal-contact" style="width: 50%; margin: 0 auto;margin-top: 10%;">
             <%= render 'form' %>
   </div>
   <div class="close-animatedModal center-align" style="margin-top: 8em; color:#fff">
       <%= image_tag("http://i.imgur.com/msYWCEQ.png", :style => "width: 5%;", :class => "exit-img undraggableimg")%>
   </div>
</div>


<!-- CONTACT MODAL // -->


</html>
